@charset "utf-8";
/* ------------------------------------------ reset --------------------------------------------------*/
html {color: #000;background: #FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td 
{margin:0;padding:0;}
body {line-height: 1.5;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
th{font-weight:normal;}
caption,th {text-align: left;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup {font-style: inherit;font-weight: inherit;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
ol,ul {list-style-type:none; }
h1,h2,h3,h4,h5,h6 {	font-size: 100%;font-weight: normal;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
abbr,acronym {border: 0;font-variant: normal;}
sup,sub {font-size: 100%;vertical-align: baseline;}
/*because legend doesn't inherit in IE */
legend {color: #000;}
input,button,textarea,select,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,button,textarea,select {font-size: 100%;}
a:link,a:visited,a:active,a:hover{text-decoration: none}

/* --------------------------------- layout ----------------------------------------------------------*/
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html,.clearfix {height: 1%;} 
.clearfix {display: block;} 
/* End hide from IE-mac */
#head,#orderhead,#mainads,.content{width:960px;height:auto;margin:0 auto;background-color:#ffffff;}
#nav,#bottom{width:100%}
.content{clear:both;position:relative;}
.main{width:760px;float:left;}
.side{width:192px;height:auto;float:left;padding-right:8px;}
/*分享区*/
#shareto{margin-left:95px;position: absolute;top: 500px;font-weight:bold;color:#a0a0a0;}
#shareto2{float:left;width:140px;font-weight:bold;color:#a0a0a0;padding-left:400px;}
#shareto3{float:right;font-weight:bold;color:#a0a0a0;width:742px;text-align:right;padding-right:18px;}
/*面包屑*/
.bread {margin-bottom:8px;}
.bread h1{display:inline;font-size:12px;color:#505050;}
.bread span{margin:0 8px;}
/*下拉*/
.number {padding-left:20px;width: auto;line-height:22px;}
.number span, .number select {display: inline;}
.number span {color:#a0a0a0;line-height:22px;}
.number select {height:20px;line-height: 20px;width: 42px;}

.size_1 {width: auto;line-height:20px;}
.size_1 span, .size_1 select {display: inline;}
.size_1 span {line-height:20px;}
.size_1 select {height:20px;line-height: 20px;width: 65px;}

.size_2 {width: auto;line-height:20px;}
.size_2 span, .size_2 select {display: inline;}
.size_2 span {line-height:20px;}
.size_2 select {height:20px;line-height: 20px;width: 65px;}

.size_3 {width: auto;line-height:20px;}
.size_3 span, .size_3 select {display: inline;}
.size_3 span {line-height:20px;}
.size_3 select {height:20px;line-height: 20px;width: 65px;}

.size_4 {width: auto;line-height:20px;}
.size_4 span, .size_4 select {display: inline;}
.size_4 span {line-height:20px;}
.size_4 select {height:20px;line-height: 20px;width: 65px;}

/*复选框*/
.ColorItem .ColorFont {float: left;width: 30px;line-height:14px;padding-left:2px;}
.ColorItem .ColorWK {float: left;padding-right:15px;width: 24px;}
/*单选框*/
.star {color: #990033;}
.choose{float:left;width:50px;}
.choose dd{float:left;width:20px;}

.linedot{height:1px;width:100%;display:block;background: url(images/line_dot.gif) repeat-x scroll  transparent;clear:both;}
.linedot1{height:1px;width:auto;display:block;background: url(images/line_dot.gif) repeat-x scroll  transparent;}
.dot{background:url(images/dot.gif) no-repeat scroll 0 45% transparent;}

/*输入框*/
.num01{width:20px;}
/*ERROR*/
.error{font-size:11px; color:#ff0000; font-family:Arial, Verdana, Sans; line-height:14px; list-style:url("") inside; padding:20px 0 10px 10px;}
.error a{color:#ff0000;}
form span.errorAsterix{ width:11px; height:11px; float:left; margin:3px 0 3px 3px !important; background:url() no-repeat;}

/*BLANK*/
.blank4{clear: both;display: block;font-size: 1px;height: 4px;overflow-x: hidden;overflow-y: hidden;}
.blank8{clear: both;display: block;font-size: 1px;height: 8px;overflow-x: hidden;overflow-y: hidden;}
.blank16{clear: both;display: block;font-size: 1px;height: 16px;overflow-x: hidden;overflow-y: hidden;}
.blank20{clear: both;display: block;font-size: 1px;height: 20px;overflow-x: hidden;overflow-y: hidden;}
.blank24{clear: both;display: block;font-size: 1px;height: 24px;overflow-x: hidden;overflow-y: hidden;}

/*--------------------------------------------------Navgation-----------------------------------------------------------------------*/
#nav{width:100%;height:30px;clear:both;background-image:url("images/bg_nav.gif");}
#nav1{width:100%;height:26px;clear:both;}
.navlist{width:960px;margin:0 auto;}
#nav ul li, #nav1 ul li{float:left;}
.nav_01 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_01.gif");background-origin: padding-box; background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_01 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_01hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_02 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_02.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_02 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_02hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_03 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_03.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_03 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_03hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_04 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_04.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_04 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_04hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_05 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_05.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_05 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_05hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_06 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_06.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_06 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_06hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_07 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_07.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_07 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_07hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_08 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_08.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_08 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_08hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_09 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_09.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_09 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_09hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_10 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_10.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_10 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_10hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_11 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_11.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_11 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_11hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_12 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_12.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_12 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_12hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}
.nav_13 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_13.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}	
.nav_13 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_13hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 30px;width: 80px;}

.nav_style{margin:0 auto;width:960px;}
.nav_new01 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new01.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}
.nav_new01 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new01hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}
.nav_new02 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new02.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}
.nav_new02 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new02hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}
.nav_new03 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new03.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}
.nav_new03 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new03hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}
.nav_new04 A{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new04.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}
.nav_new04 A:hover{background-attachment: scroll;background-clip: border-box;background-color: transparent;background-image: url("images/button/nav_new04hover.gif");background-origin: padding-box;    background-position: 0 0;background-repeat: no-repeat;background-size: auto auto;display: block;height: 26px;width: 240px;}

.sidenav{width:190px;height:auto;background-color:#FFFFFF;border:1px solid #dcdcdc;}
.sidenav h3{background-image: url("images/bg_banner2.gif");width:178px;height:30px;color:#505050;line-height:30px;padding-left:12px;font-family: verdana,sans-serif;text-shadow:1px 2px 1px #ffffff;}
.sidenav_content{padding:8px;width:174px;}
.nav_content img{vertical-align:middle;}
.sidenav dl{padding:10px 0;}
.sn_show{background:url(images/arrow3.gif) no-repeat;padding-left: 6px;cursor:pointer;}
.sn_hide{background:url(images/arrow2.gif) no-repeat;padding-left: 6px;cursor:pointer;}
.sidenavSelect{background:#f5f5f5}
.sidenav dd{padding-left:12px;width:162px;overflow:hidden;}
.sidenav dt{width:168px;overflow:hidden;margin-bottom:4px;}
.sidenav dd, .sidenav dt{font-family:verdana, sans-serif;line-height:18px;}

/*------------------------------------------------------------Button------------------------------------------------------------------*/
.btn_search {float:left;background:url("images/button/bt_search.gif");border:none;height:20px;width:25px;cursor:pointer;}
.btn_submit {background: url("images/button/bt_submit.gif");border:none;height:22px;width: 80px;cursor:pointer}
.btn_submit2 {background: url("images/button/bt_submit02.gif");border:none;height:20px;width: 74px;cursor:pointer}
.btn_buy1{background: url("images/button/bt_charge.gif");border:none;height:22px;width: 60px;float:right;margin-right:8px;cursor:pointer}

.btn_order1_asc{background: url("images/button/bt_order01.gif");border:none;height:20px;width: 75px;margin:5px 8px 0 16px;cursor:pointer}
.btn_order1_desc{background: url("images/button/bt_order01_1.gif");border:none;height:20px;width: 75px;margin:5px 8px 0 16px;cursor:pointer}
.btn_order2_asc{background: url("images/button/bt_order02.gif");border:none;height:20px;width: 75px;margin:5px 8px 0 0;cursor:pointer}
.btn_order2_desc{background: url("images/button/bt_order02_1.gif");border:none;height:20px;width: 75px;margin:5px 8px 0 0;cursor:pointer}
.btn_order3_asc{background: url("images/button/bt_order03.gif");border:none;height:20px;width: 75px;margin:5px 8px 0 0;cursor:pointer}
.btn_order3_desc{background: url("images/button/bt_order03_1.gif");border:none;height:20px;width: 75px;margin:5px 8px 0 0;cursor:pointer}

.btn_submitorder{background: url("images/button/bt_submitorder.gif");border:none;height:26px;width: 100px;cursor:pointer;margin-right: 20px;}
.btn_login2{background: url("images/button/btn_login2.gif");border:none;height:26px;width: 100px;cursor:pointer}
.btn_buyL{background: url("images/button/bt_buy_l.gif");border:none;height:26px;width: 100px;float:right;margin-right:70px;cursor:pointer}
.btn_collection{background: url("images/button/bt_collection_l.gif");border:none;height:26px;width: 100px;float:right;margin-right:20px;cursor:pointer}
.btn_collection_gift{background: url("images/button/bt_collection_l.gif");border:none;height:26px;width: 100px;float:right;margin-right:160px;cursor:pointer}
.btn_checkout{background: url("images/button/bt_checkout_l.gif");border:none;height:28px;width: 100px;float:right;margin-right:20px;cursor:pointer}
.btn_goonshopping{background: url("images/button/bt_goonshoping.gif");border:none;height:28px;width: 100px;float:right;margin-right:20px;cursor:pointer}
.btn_pay{background:url("images/button/bt_pay.gif");border:none;height:28px;width:100px;cursor:pointer}
.btn_pays{background:url("images/button/bt_payS.gif");border:none;height:20px;width:60px;cursor:pointer}
.btn_carduse{background:url("images/button/bt_use_s.gif");border:none;height:20px;width:40px;margin-left:12px;cursor:pointer}

.btn_confirms{background:url("images/button/bt_confredS.gif");border:none;height:20px;width:40px;margin-left:12px;cursor:pointer}
.btn_confblue{background:url("images/button/bt_confblue.gif");border:none;height:20px;width:74px;cursor:pointer}
.btn_rewrite{background:url("images/button/bt_rewrite.gif");border:none;height:20px;width:74px;cursor:pointer}
.btn_brows{background:url("images/button/bt_brows.gif");border:none;height:20px;width:74px;cursor:pointer);}

.btn_confirm{background:url("images/button/bt_confRed.gif");border:none;height:20px;width:74px;float:right;margin-right:185px;cursor:pointer}
.btn_confirmBlue{background:url("images/button/bt_conf.gif");border:none;height:20px;width:74px;cursor:pointer;float:right;margin-right:480px;}
.btn_gift {background: url("images/button/bt_gift.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_buyS {background: url("images/button/bt_buy_s.gif");border:none;height:20px;width:40px;cursor:pointer;}
.btn_saveS {background: url("images/button/bt_save.gif");border:none;height:20px;width:74px;cursor:pointer;margin-left:220px;}
.btn_changeS {background: url("images/button/bt_revise.gif");border:none;height:20px;width:74px;cursor:pointer;margin-left:220px;}
.btn_delS {background: url("images/button/bt_del.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_naddr {background: url("images/button/bt_address.gif");border:none;height:24px;width:120px;cursor:pointer;margin-left:515px;}
.btn_mycomment{background: url("images/button/bt_discuss.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_myask{background: url("images/button/bt_ask.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_applyRtn{background: url("images/button/bt_apply_rtn.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_before{background: url("images/button/bt_before.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_next{background: url("images/button/bt_next.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_act{background: url("images/button/bt_action.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_publish{background: url("images/button/bt_publish.gif");border:none;height:20px;width:74px;cursor:pointer;}
.btn_achg{background:url(images/button/bt_apply_chg.gif);border:none;height:20px;width:74px;cursor:pointer;}
.btn_confrim{background:url(images/button/bt_confrim_sn.gif);border:none;height:24px;width:120px;cursor:pointer;}
.btn_receive{background:url(images/button/bt_receive.gif);border:none;height:24px;width:120px;cursor:pointer;margin-left:200px;}
.btn_resent{background:url(images/button/bt_resent.gif);border:none;height:18px;width:70px;cursor:pointer;}
.btn_changemail{background:url(images/button/bt_changemail.gif);border:none;height:18px;width:70px;cursor:pointer;}
.btn_resignup{background:url(images/button/bt_resignup.gif);border:none;height:18px;width:70px;cursor:pointer;}
.btn_gotoshoppingbag{background:url(images/button/bt_gotosbag.gif);border:none;height:20px;width:60px;cursor:pointer; }
.btn_shoppingbag1{background:url(images/button/bt_shoppingbag1.gif);border:none;height:18px;width:70px;cursor:pointer; }
/*----------------------------------------Font------------------------------------------------------------*/
h1{text-transform:capitalize; font-weight:normal; font-size:14px; }
h2{text-transform:capitalize; font-weight:bold; font-size:14px;}
h3{text-transform:capitalize; font-weight:normal; font-size:14px;}
h4{text-transform:capitalize; font-weight:bold; font-size:12px;}
h5{text-transform:capitalize; font-weight:normal; font-size:12px;}
h6{text-transform:capitalize; font-weight:normal; font-size:16px;font-family:simhei,verdana;color:#a0a0a0;}
strong,b {font-weight:bold;}
.gray1{font-size:12px;color:#505050;}
.gray2{font-size:14px;color:#a0a0a0;}
.gray3{font-size:14px;color:#505050;}
a:visited,a:link{color:#a0a0a0;text-decoration:none;}
a:hover{text-decoration:underline;color: #a1224b;}
input,*select{font-family: simsun,Verdana,sans;font-size: 12px;}

.red12{color:#a1224b;font-size:12px;}
.red14{color:#a1224b;font-size:14px;}
.red16{color:#a1224b;font-size:16px;}
.blue12{color:#263658;font-size:12px;}
.blue14{color:#263658;font-size:14px;}
.blue16{color:#263658;font-size:16px;}

/*-----------------------------------------------Components-----------------------------------------------------------*/
/*----HEAD-----*/
#head{height:auto;width:960px;padding:0 2px;position: relative;z-index:10;}
#logo{padding-top:10px;width:300px;float:left;}
#headlist{text-align:right;float:right;padding-top:10px;height:42px;}
#searchplane{clear:both;width:auto;}
#site-search{height:26px;padding-left:320px;}
.search-button{margin-left:8px;}
#site-search #search {color: #a0a0a0;font-family: simsun,Arial,sans-serif;height:16px;width:210px;float:left;}
.keywords{margin-left:8px;}
#shoppingbag{position:absolute;top:28px;right:2px;width:170px;height:auto;padding:10px 14px;background-color: #f5f5f5;color:#505050;border:2px solid #263658;z-index:10000;}
.sb_name{line-height:18px;height:18px;display:block;overflow:hidden;}
.sb_price{line-height:18px;height:18px;display:block;padding-right:8px;text-align:right;}
.shoppingbag_bottom{padding:6px 0;border-top:1px solid #dcdcdc;}
.total_price{width:120px;font-weight:bold;overflow:hidden;float:left;}

/*---------Shoppingbag HEAD----------------------*/
#orderhead{height:85px;width:960px;padding:0 2px;border-bottom:1px solid #dcdcdc;}
#orderlogo{padding-top:10px;width:300px;float:left;}
#order_help{float:right;text-align:right;clear:right;margin-top:8px;}

/*ADS*/
#mainads{width:960px;height:460px;overflow:hidden;position:relative; z-index:1;}   
.sz{bottom:10px;right:20px;position:absolute; z-index:100;}
.sz ul li {background-color:#162441;cursor: pointer;border:2px solid #ffffff;float:left;height:12px;width:12px;margin-left:10px;z-index:20;}
.sz ul li a:hover{background-color:#cccccc;cursor: pointer;border:3px solid #000000;float:left;height:16px;width:16px;margin:8px 6px;z-index:20;}
.adsimg{height:460px;width:960px;position:relative; z-index:99;}
.listadsimg{height:420px;width:760px;}
#listads{overflow:hidden;position:relative;float:right;z-index:1;}  

.ad960_60_01{width:960px;height:60px;margin:0 auto;clear:both;}
.ad960_60_02{width:960px;height:60px;margin:8px auto 0 auto;clear:both;}
.ad760_60_01{width:760px;height:80px;margin-bottom:8px;}
.ad192_100{width:192px;height:100px;}
.ad192_220{width:192px;height:220px;}

/*orderplane*/
.orderplane{background-color:#ffffff;color:#a1224b;border:1px solid #dcdcdc; height:30px;width:auto;line-height:30px;padding-left:12px;line-height:30px;font-weight:bolder;}
.orderplaneL{line-height:30px;float:left;}
.pagebar{float:right;margin-right:12px;height:30px;}
.pagebar li{float:left;line-height:30px;padding:0 6px;color:#a1224b;}
/*search*/
#search_area{padding-left: 12px;width:auto;height:56px;line-height:2;border-top:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;background:url("images/bg_search.gif") repeat-x;}
#search_area h1{font-weight:bold;}


/*---------------SideBar-------------------------*/

.side_new{width:192px;height:auto;float:left;padding-left:8px;}
.sidebar{width:190px;height:auto;float:left;border:1px solid #dcdcdc;}
.sidebar_home{width:190px;height:350px;height:auto;float:left;border:1px solid #dcdcdc;}
#sidebar_bestsale{background:url("images/title/sidebar_bestsale.gif");width:190px;height:30px;}
#sidebar_yrhistory{background:url("images/title/sidebar_recenthistory.gif");width:190px;height:30px;}
#sidebar_sharing{background:url("images/title/siderbar_sharing.gif");width:190px;height:30px;}
#sidebar_fnews{background:url("images/title/side_fanshionnews.gif");width:190px;height:30px;}
#sidebar_keep{background:url("images/title/side_keepgl.gif");width:190px;height:30px;}
#sidebar_designer{background:url("images/title/side_designer.gif");width:190px;height:30px;}
#sidebar_fshow{background:url("images/title/side_fashionshow.gif");width:190px;height:30px;}

.sbtabs1{height:24px;line-height:24px;}
.sbtlist1, .sbtlist2{float:left;text-align:center;overflow:hidden;}
.sbtlist1{background-color:#fffff;width:55px;}
.sbtlist2 {background-color:#dcdcdc;width:45px;}
.sbtlist1 a,.sbtlist2 a:visited,.sbtlist2 a,.sbtlist2 a:visited {display:block;vertical-align: middle;height:24px;}

.sidebar_list{padding:0 7px 10px 7px;line-height:1.4;}

.bslist{height:48px;padding-top:8px;}
.bslist img{display:block;float:left;width:32px;height:48px;}	
.bsl_name{display:block;padding:2px 4px 0 8px;font-size: 12px;color:#a0a0a0;height:28px;line-height:1.2;overflow:hidden;}
.bsl_price{display:block;padding-left:8px;padding-right:4px;font-size: 12px;color:#a0a0a0;height:18px;overflow:hidden;}

.bsl_title{display:block;padding:0 4px 0 8px;font-size: 12px;height:18px;width:132px;overflow:hidden;}
.bsl_title A:hover{text-decoration:underline;color: #263658;}
.bsl_text{display:block;padding-left:8px;padding-right:4px;font-size: 12px;color:#a0a0a0;height:30px;width:132px;overflow:hidden;}
.bs_title{width:176px;height:18px;}
.bs_title A:hover{text-decoration:underline;color: #263658;}

/*  */
.bslist1{height:48px;padding-top:8px;}
.bslist1 img{display:block;float:left;width:46px;height:46px;}	

.bsl1_title{display:block;padding-left:8px;font-size: 12px;height:18px;overflow:hidden;}
.bsl1_title A:hover{text-decoration:underline;color: #263658;}
.bsl1_text{display:block;padding-left:8px;font-size: 12px;color:#a0a0a0;height:30px;overflow:hidden;}
.bs1_title{height:18px;}
.bs1_title A:hover{text-decoration:underline;color: #263658;}

/*SideBar横向1*/
.bar_landscape{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DCDCDC;float: left;width: 958px;height:120px;line-height:1.2;}
.bar_landscape h3{background-image: url("images/bg_banner2.gif");color: #505050;font-family: simhei,verdana,sans-serif;text-shadow:1px 2px 1px #ffffff;height: 30px;line-height: 30px;padding-left:12px;}
.landscapelist{width:958px;height:88px;}	

.scroll_center ul{float:left;height:88px}
.scroll_center li{float:left;width:170px;padding:20px 4px;}
.scroll_center li img{float:left;}
.scroll_center li h4,.scroll_center li p{overflow:hidden;padding:2px 4px 0 10px;}
.scroll_center li h4{height:28px;}
.scroll_center li p{height:14px;}

.scroll_left{background: url("images/triangle02.gif") no-repeat;background-position: 0 0;float: left;height: 88px;margin: 0 3px;overflow-x: hidden;overflow-y: hidden;width: 24px;cursor: pointer;}
.scroll_left:hover{background-position:-24px 0;}
.scroll_right{background: url("images/triangle02.gif") no-repeat;background-position: -72px 0;float: left;height: 88px;margin: 0 3px;overflow-x: hidden;overflow-y: hidden;width: 24px; cursor: pointer;}
.scroll_right:hover{background-position: -48px 0px;}
 /*SideBar横向2*/
.bar_landscape_b{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #DCDCDC;float: left;width: 958px;height:130px;line-height:1.2;}
.bar_landscape_b h3{background-image: url("images/bg_banner2.gif");color: #505050;font-family: simhei,verdana,sans-serif;text-shadow:1px 2px 1px #ffffff;height: 30px;line-height: 30px;width:auto;padding-left:12px;}
.landscapelist_b{width:960px;height:100px;}	

.scroll_center_b ul{float:left;height:100px}
.scroll_center_b li{float:left;width:170px;padding:20px 4px;}
.scroll_center_b li img{float:left;}
.scroll_center_b li h4,.scroll_center_b li p{overflow:hidden;padding:2px 4px 0 10px;}
.scroll_center_b li h4{height:28px;}
.scroll_center_b li p{height:28px;}
.product_name{height:30px;padding:2px 4px 0 10px;}
/*productlist*/
.listfirst{float:left;}
.list{float:left;padding-left: 8px;}
.listlast{float:left;padding-right: 8px;}
.productlist{width:auto;}
.productlisttext{width:184px;height:60px;display:block;text-align:center;line-height:2;magrin-left:6px;}
.good_name{height:20px;padding:4px;overflow:hidden;}
.good_name a:hover{text-decoration:none;}
.list_name{background-image: url("images/bg_banner2.gif");width:auto;height:30px;color:#505050;line-height:30px;padding-left:12px;border-top:1px solid #dcdcdc;border-left:1px solid #dcdcdc;border-right:1px solid #dcdcdc;font-family:simhei,verdana;}
.list_name h3{width:auto;float:left;text-shadow:1px 2px 1px #ffffff;}
.more{float:right;font-size:12px;font-family:"simsun";margin-right:4px;}
.productname a:hover{font-size:14px;font-weight:bold;text-decoration:underline;}
/*.productlist ul li a:hover img{border:1px solid #a1224b}*/

/*bottom*/
#bottom{width:960px;margin:0 auto;clear:both;padding-top:8px;}
#service{height:100px;padding:20px 0 0 0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
#serviceleft #serviceright{margin:0 auto;}
#serviceleft dl{width:120px;height:auto;padding:0 20px;float:left;}
#serviceright{width:320px;height:auto;float:right;}
#email {margin-right: 12px;width: 200px;height:16px;color: #a0a0a0;}
#site_submit {height: 26px;}
.footer{text-align:center;line-height:20px;}

/*brand area*/
.brand_area {border:1px solid #dcdcdc;}
.brand_area h2 {background-color: #EEEEEE;display: block;font-family: verdana,simhei;font-size: 14px;font-weight: bold;height: 30px;line-height: 30px;text-align: center;}