#maskfullbg{
background-color: Gray;
display:none;
z-index:999;
position:absolute;
left:0px;
top:0px;
filter:Alpha(Opacity=30);
/* IE */
-moz-opacity:0.4; 
/* Moz + FF */
opacity: 0.4; 
}

#maskdialog {
position:absolute;
width:200px;
height:50px;
background:url(../images/loading.gif) no-repeat center center;
display: none;
z-index: 999;
}